.bg-dark {
  background-color: rgb(34, 139, 34) !important;
  border-bottom: 1em;
  border-bottom-color: #4db368;
}

body {
  font-family: "/Users/mattschaefer/Documents/PGAssignment/fonts /Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth,wght.ttf";
  src: "fonts//Users/mattschaefer/Documents/PGAssignment/fonts /Noto_Serif_Display/NotoSerifDisplay-VariableFont_wdth,wght.ttf";
}

.bg-primary {
  background-image: url("img/img6.jpg") !important;
}

h1,
.lead-top {
  color: white !important;
}

#about {
  background-color: #edf2ef !important;
}

#contact {
  background-color: #f8f9fa !important;
}

.nav-link {
  color: white !important;
}

.nav-link:hover {
  color: #4db368 !important;
}

a.nasa-link {
  color: black !important;
  text-decoration: none;
}

h2.pledge {
  text-decoration: underline !important;
}

a.web-link {
  color: #4db368;
  text-decoration: none;
}
a.web-link:hover {
  text-decoration: underline;
}
